/* ตั้งค่าพื้นฐาน */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-image: url(bg.jpg);
}

background-image {
    width: auto;
    height: auto;
}

/* พื้นหลังของหน้า */
body, html {
    margin: 5;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* กล่องหลัก */
.container {
    text-align: center;
    background-color: rgba(246, 239, 221, 0.652);
    padding: 70px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    
}

/* ปุ่ม */
.button-group {
    margin-top: 30px;
    margin: 50px;
    
}

.btn {
    background-color: antiquewhite;
    color: rgb(110, 107, 124);
    padding: 15px 30px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-size: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: antiquewhite;
}
